* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}

body {
    background: #EEF2F7;
}

header h1 {
    margin: 0;
}

nav a {
    font-size: 1.7em;
    padding-right: 5px !Important;
    padding-left: 0 !Important;
    color: #212529;
}

section {
    position: relative !Important;
}

section > .container {
    height: 70vh !Important;
    overflow: scroll;
    position: relative !Important
}

#backdrop {
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 998;
    backdrop-filter: blur(10px);
    display: none;
}

.table th {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.4em !important;
}

.table th,
.table td {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.4em !important;
}

.table th {
    font-weight: 500;
}

footer i {
    position: relative;
    bottom: 2px;
}

footer p {
    font-size: 1.5em !Important;
}

header, nav, section, footer {
    padding-top: 17px;
    padding-bottom: 17px;
}

.loading-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-80%, -50%);
    display: none;
}
