* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}

body {
    background: #EEF2F7;
}

.border {
    border: 1px dashed blue;
}

header h1 {
    margin: 0;
}

nav a {
    font-size: 1.7em;
    padding-right: 5px !Important;
    padding-left: 0 !Important;
    color: #212529;
}

section > div {
    height: 70vh !Important;
    overflow: scroll;
}

section blockquote > p {
    margin: 0;
    font-size: 1.05em;
    padding-top: 5px;
}

section blockquote > footer {
    padding-bottom: 0;
}

section .card-text {
    font-size: 1.2em;
    margin-bottom: 3.5px;
}

section a {
    margin-top: 10px;
    font-size: 1.2em !Important;
    font-weight: bold;
}

section .card-columns {
    column-gap: 2.5rem;
}

section .card {
    box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
    margin-bottom: 2.5rem !Important;
}

footer i {
    position: relative;
    bottom: 2px;
}

footer p {
    font-size: 1.5em !Important;
}

header, nav, section, footer {
    padding-top: 17px;
    padding-bottom: 17px;
}

.viz {
    position: relative !Important;
    background-color: #222222;
    height: 400px;
    box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
    border-radius: 20px;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#figure {
    height: 100%;
    width: 100%;
}
